{% extends "base.html" %}
{% load static %}

{% block title %}{{ article.heading }}{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="text-center">
        <h1>{{ article.heading }}</h1>
        {% if article.subheading %}
        <h4>{{ article.subheading }}</h4>
        {% endif %}
        <h5>by {{ article.profile.user.username }}</h5>
    </div>

    {% if article.image %}
    <div class="text-center mt-3">
        <img src="{{ article.image.url }}" alt="{{ article.heading }}" class="img-fluid" style="max-width: 600px; max-height: 400px;">
    </div>
    {% endif %}

    <div class="mt-4">
        <h3>Description</h3>
        <p>{{ article.description }}</p>
    </div>
</div>

<style>
    .img-fluid {
        margin: 0 auto;
    }
</style>
{% endblock %}
